*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */
.header__nav {
    background: #322E41;
}

.header__nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    padding: 14px 0;
}

.header__nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header__nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-link {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 21px;

}

.header__nav-link:hover {
    border-bottom: 2px solid white;
color: #FFE600;
}

/* nav */
/* header content */



/* header content */
/* news */



/* news */
/* products */


/* procuts */
/* krossi */




/* krossi */
/* just */




/* just */
/* express */



/* express */
/* footer */

.footer {
    background: #322E41;
}
.footer__info {
    display: flex;
    flex-direction: column;
}

.footer__info-logo {
    display: flex;
    justify-content: center;
    padding: 25px;
}


/* footer */
