*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */


/* nav */
/* header content */



/* header content */
/* news */



/* news */
/* products */


/* procuts */
/* krossi */




/* krossi */
/* just */




/* just */
/* express */



/* express */
/* footer */



/* footer */
